
Header{
  color: white;
  font-size: 25px;
  background-color: rgba(50,50,50,.75);
  text-align: center;
  height:40px;
  padding-top: 20px;
}

.starshipboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:80%
}

.Link{
  height: 100px;
  width: 300px;
  background-color: rgba(20, 39, 25, 0.904);
  text-decoration: none;
  color:  white;
  margin:  25px;
  text-align: center;
  border-radius: 5%;
  padding-top: 75px;
}



